meta(
  charset="utf-8")
meta(
  name="viewport" 
  content="width=device-width, initial-scale=1")
meta(
  name="keywords"
  content=post_keywords)
meta(
  name="description"
  content=post_excerpt)
 meta(
  property="og:title" 
  content=post_title)
meta(
  property="og:type"
  content="website")
meta(
  property="og:description" 
  content=post_excerpt)
meta(
  property="og:image"
  content=post_image_thumb)
meta(
  property="og:url"
  content=post_link)
meta(
  property="og:locale"
  content="ru_RU")
meta(
  property="og:site_name"
  content="Энциклопедия фантастических вселенных")
meta(
  name='yandex-verification'
  content='46d661f0fc6c27a5')
meta(
  name='advmaker-verification' 
  content='df1acbaa210da6f9c0c5808ee4229d64')