//- layout.pug

include ../includes/mixins.pug

doctype html
html
  head
    title=post_title
    base(href=get_template_directory_uri().'/fun-wiki')
    include layout_part/meta.pug
    style: include ../../css/header.css

  body
    .shadow
    app#app
    include layout_part/header.pug
    main
      block content
      include layout_part/content_footer.pug

    link(
      rel="stylesheet" 
      type="text/css"
      href='css/dark.css'
      id="theme_css")
    link(
      rel="stylesheet" 
      type="text/css" 
      href='css/components.css')
    script(src='js/main.js' async)

    include layout_part/footer.pug